*{margin: 0; padding: 0;  box-sizing: border-box;} 

@font-face {
  font-family: 'Cormorant SC';
  src: url("./fonts/Cormorant_SC/CormorantSC-Light.ttf") ;
  font-style: normal;
  font-weight: 100;
  font-weight: 300;
}

.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 100%;
}
body {
  background: #6f6d7e;
  font-family: 'Cormorant SC';
  color: white;
}