.form {
  position: absolute;
  top:10vh;
  left: 30vw;
  border-radius:30px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 1rem;
  width: 40vw;
  height: 70vh;
  z-index: 10;
  h1 {
    margin-bottom: 2vh;
    font-weight: 100;
    font-size: 24px;
  }
  input {
    width: 90%;
    height: 3rem;
    margin: 10px;
    font-family: 'Cormorant SC';
    font-size: 18px;
    font-weight: 100;
    box-sizing: border-box;
    border-radius:1rem;
    padding-left: 2rem;
    padding-right: 1rem;
    background: #45454d;
    border: 0.1px solid rgba(128, 128, 128, 0.363);
    outline: none;
    &:hover{
      transform: scale(105%);
      transition: 0.7s;
    }
    &::placeholder{
      color: white;
      opacity: 0.7;
    }
  }

}


.registrationButton {
  font-family: 'Cormorant SC';
  color: white;
  background: none;
  padding: 10px 15px;
  border-bottom: 1px solid white;
  border-right: 1px solid white;
  border-radius: 15px;
  margin-top: 10px;
}

.userInfoTest{
  position: absolute;
  top: 50%;
  left: 50%;
  border: 1px solid gray;
  border-radius: 10px;
  width: 200px;
  height: 300px;
  background: black;
}

//ERROR MODAL WINDOW

.modal_Inform_Window{
  position: absolute;
  z-index: 20;
  top: 18vh;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 40%;
  height: auto;
  font-family: 'Cormorant SC';
  font-size: 16px;
  font-weight: 100;
  border-radius:1rem;
  background-image: linear-gradient(120deg, #302f2d3b 10%, #46200e4b 100%);
  border: 0.1px solid rgba(181, 101, 101, 0.675);

  padding-left: 10px;
  padding-right: 10px;
  text-align: center;

  h4{
    color: rgb(250, 1, 1);
    padding-top: 14px;
  }
  h6{
    font-size: 16px;
    color: rgb(250, 1, 1);
    padding-bottom: 15px;
  }
}

.modal_Inform_Window_h4{
  width: 90%;
}

.modal_Inform_Window_link{
  width: 10%;
}
.close_button_wrapper{
  cursor: pointer;
  background: none;
  border: none;
}
.close_button{
  cursor: pointer;
  width: 25px;
  margin-top:5px;
}
