
.main {
  width: 96vw;
  height:96vh;
  background-image: linear-gradient(150deg, #2c2e38 50%, #1b1c20 100%);
  border-radius:30px;  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 2vh;
  margin-bottom: 2vh;
  z-index: 1;
  @media screen and (max-width:800px) {
    margin-top: 0;
    margin-bottom: 0;
    border-radius:0;
    width: 100vw;
    height:100vh;  
  }
}
.color_theme_wrapper{
  position: absolute;
  right: 0.5vw;
  top: 0.5vh;
}
.color_theme_button{
  border: none;
  background: none;
}
.light_style_button{
  width: 30px;
  cursor: pointer;
}