
.workSpace{
position: absolute;
width: 92%;
height: 78vh;
top: 14%;
display: flex;
flex-direction: column;
align-items: center;
justify-content: flex-start;
z-index: 10;
}

.header_input_wrapper{
  display: flex;
  justify-content: center;
  margin-bottom: 1%;
  input{
    width: 400px;
  }
}

.header_input_form{
  width: 100%;
  display: flex;
  align-items: center;
}

.create_button{
  height: 3rem;
  font-family: 'Cormorant SC';
  font-size: 18px;
  text-align: center;
  text-transform: uppercase;
  font-weight: 700;
  margin-left: 5px;
  border-radius:1rem;
  padding-left: 1rem;
  padding: 10px 20px;
  background-image: linear-gradient(120deg, #f8f4ede0 10%, #fffef8f5 100%);
  box-shadow: -5px 5px 10px rgba(116, 114, 114, 0.288),
  2px -3px 5px rgba(116, 115, 115, 0.308);
  border: 0.1px solid rgba(128, 128, 128, 0.363);
  cursor: pointer;
  &:hover{
    color:rgb(55, 89, 241);
    transform: scale(105%);
    border: 1px solid rgb(55, 89, 241);
    box-shadow: -5px 5px 10px rgba(76, 71, 160, 0.644),
    2px -3px 5px rgba(60, 117, 202, 0.616);
    transition: 0.7s;
  }
}

.board_wrapper{
  width: 95%;
  height: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  align-content: flex-start;
  overflow-y: scroll;
  border-radius:30px;
}

.board {
  width: 250px;
  height: 100px;
  box-shadow: -5px 5px 10px rgba(116, 114, 114, 0.288),
  2px -3px 5px rgba(116, 115, 115, 0.308);
  border-radius:12px;
  margin: 10px;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: center;
  position: relative;
}

.board__title {
  display: flex;
  font-size:21px;
  font-weight:700;
  width: 220px;
  height: 90%;
  overflow-wrap: anywhere;
  align-items: center;
  justify-content: center;
  text-align: center;
  cursor: pointer;
}

.close_button_wrapper{
  width: 20px;
  height: 20px;
  position: absolute;
  top: 5px;
  right: 5px;
}
.close_button{
  cursor: pointer;
  background: none;
  border: none;
}
.close_button_img{
  width: 100%;
  cursor: pointer;
}