.headerWrapper{
  position: absolute;
  width: 90%;
  height: 70px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  flex-direction: row;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
  align-items: center;
  justify-content: space-between;
  position:absolute;
  top: 0;
  width: 100%;
  height: 100%;
  a{
    text-decoration: none;
    color: rgba(0, 0, 0, 0.534);
    &:hover{
      transform: scale(120%);
    }
  }

  h1 {
    margin-bottom: 20px;
  }
}

.userAuthWrapper {
  button{
    margin-left: 1rem;
  }
}
.navRegistrationButton {
  padding: 10px 20px;
  border-radius: 10px;
  background: #2654ed;
  border: none;
  font-weight: 100;
  font-size:16px;
  box-shadow: 1px 5px 10px rgba(71, 69, 69, 0.774);
  a{
    color: white;
  }
}

.navLoginButton {
  padding: 9px 20px;
  border-radius: 10px;
  color: rgb(0, 0, 0);
  border: 1px solid black;
  font-weight: 100;
  font-size:16px;
  box-shadow: 1px 5px 10px rgba(71, 69, 69, 0.774);
}

.bottomLine{
  width: 100%;
  height:1px;
  background: rgba(0, 0, 0, 0.349);
  position: absolute;
  bottom: 0;
}